<header id="header" [ngClass]="{'header-top': navbarService.getSelectedMenuItemId() !== 'home'}">
  <div class="container">

    <h1>
      <a href="" class="mr-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      <a href="">{{user.brand}}</a>
    </h1>
    <h2>Meu espaço digital dedicado à <span>{{user.professionalField}}</span>. </h2>

    <nav id="navbar" class="navbar" [ngClass]="{'navbar-mobile':menuMobileOpened}">
      <ul>
        @for (itemMenu of navbarService.getMenuList(); track $index) {
          <li>
            <a class="nav-link" [ngClass]="{active: itemMenu.id===navbarService.getSelectedMenuItemId()}"
            (click)="selectMenu(itemMenu.id)">
              {{itemMenu.text}}
            </a>
          </li>
        }
      </ul>
      <i class="bi mobile-nav-toggle" (click)="toggleMenuMobile()" [ngClass]="menuMobileOpened ? 'bi-x':'bi-list'"></i>
    </nav>

    <div class="social-links">
      @for (item of socialMedias; track $index) {
        <a href={{item.link}} class={{item.id}}>
          <i class={{item.class}}></i>
        </a>

      }
    </div>

  </div>
</header>
