<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2 class="portfolio-title">Detalhes do projeto</h2>
      <swiper-container class="portfolio-details-slider" loop="true" navigation="true" pagination="true">
        @for (image of selectedProject?.images; track $index) {
            <swiper-slide class="swiper-slide">
              <img [src]=image alt="">
            </swiper-slide>
        }
      </swiper-container>
    </div>

    <div class="col-lg-4 portfolio-info">
      <h3>Informações do Projeto</h3>
      <ul>
        <li><strong>Categoria: </strong>{{selectedProject?.category}}</li>
        <li><strong>URL do projeto</strong>: <a href="{{selectedProject?.url}}">{{selectedProject?.url}}</a></li>
      </ul>
      <h2>{{selectedProject?.title?.toUpperCase()}}</h2>
      <p>
        {{selectedProject?.description}}
      </p>
    </div>
  </div>
</div>
