<div class="skills container">

  <div class="section-title">
    <h2>Competências</h2>
  </div>

  <div class="row skills-text">
    <div class="col-lg-6">
      <p>Habilidades e competências que desenvolvi ao longo da minha carreira. Estou constantemente aprimorando meu
        conhecimento e experiência, buscando aprender novas tecnologias e me manter atualizado:</p>
    </div>
  </div>

  <div class="row skills-content">
    @for (coluna of colunas; track $index) {
      <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center" data-aos="fade-up" data-aos-delay="100">
        @for (habilidade of coluna; track $index) {
          <div class="progress" [attr.data-aos-delay]="$index * 100">
            @if (habilidade.icone) {
              <span class="skill">
                <i [ngClass]="habilidade.icone" [style.color]="habilidade.cor"></i>
              </span>
            }
            @if (habilidade.logo) {
              <span class="skill">
                <img [src]="habilidade.logo" [ngClass]="habilidade.customClass" [alt]="'Logo ' + $index">
              </span>
            }
          </div>

        }
      </div>

    }
</div>

</div>
